

<h5 class="text-head ml-3 mt-2"> User Preferences</h5>

<div fxLayout="row"  fxLayout.xs="column" fxLayoutWrap fxLayoutGap="20px">

  <div fxFlex="100">
    <mat-card class="user-form mt-2">

      <section class="example-section">
        <label class="example-margin">Decimal Places: &nbsp; &nbsp;</label>
        <mat-radio-group [(ngModel)]="labelPosition">
          <mat-radio-button class="example-margin" value="0">  Yes &nbsp;</mat-radio-button>
          <mat-radio-button class="example-margin" value="1">   No</mat-radio-button>
        </mat-radio-group>
      </section>


      <!-- <mat-form-field appearance="outline">
        <mat-label> First Name: </mat-label>
        <input matInput required>
      </mat-form-field> -->
    </mat-card>
  </div>
</div>







 
  
