<div class="listboxform-wrap" [formGroup]="listBoxForm">

    <div class="dualListLeft">
      <div class="primary-container drag-drop-container">
        <label class="listbox-title">{{availableText}}</label>
        <!-- <input type="text"  
                class="form-control vertical-spacing-5" 
                placeholder="{{availableFilterPlaceholder}}"     
                formControlName="availableSearchInput" 
                #availableSearchInput /> -->
        <div cdkDropList #availablesContainer="cdkDropList" 
             [cdkDropListData] ="availables" 
             [cdkDropListConnectedTo] ="[selectsContainer]"
             (cdkDropListDropped)="drop($event)" 
             class="drag-drop-list">
            <ng-template [ngIf]="nestedView">
              <ng-container *ngTemplateOutlet="nestedTemplate; context:{items: availables,container: [selectsContainer]}"></ng-container>
            </ng-template>
            <ng-template [ngIf]="!nestedView">
              <div class="drag-drop-box" 
              *ngFor="let item of availables; let index=index" cdkDrag>
              {{item[textField]}}
              <mat-icon (click)="add(index)">add</mat-icon>
              </div>
             </ng-template>
            
        </div>
      </div>
    </div>
  
    <div class="dualListRight">
      <div class="primary-container drag-drop-container">
        <label class="listbox-title">{{selectedText}}</label>
        <!-- <input type="text" 
              class="form-control vertical-spacing-5" 
              placeholder="{{selectedFilterPlaceholder}}"
              formControlName="selectedSearchInput" 
              #selectedSearchInput /> -->
          <div cdkDropList #selectsContainer="cdkDropList" 
              [cdkDropListData] ="selects" 
              [cdkDropListConnectedTo]="[availablesContainer]"
              (cdkDropListDropped)="drop($event)" 
              class="drag-drop-list">
            <ng-template [ngIf]="nestedView">
              <ng-container *ngTemplateOutlet="nestedTemplate; context:{items: selects,container: [availablesContainer]}"></ng-container>
            </ng-template>
            <ng-template [ngIf]="!nestedView">     
            <div class="drag-drop-box"    
                *ngFor="let item of selects; let index=index" cdkDrag>
             {{item[textField]}}
            <mat-icon (click)="remove(index)">close</mat-icon>
            </div>
          </ng-template>
          </div>
      </div>
    </div>
  </div>

  <ng-template #nestedTemplate let-items="items" let-container="container">
        <div cdkDropList  [cdkDropListConnectedTo]="container" [cdkDropListData] ="items">
          <div cdkDrag class="drag-drop-box" *ngFor="let item of items">
            <span>
              {{item[textField]}}
            </span>
            <ng-template [ngIf]="nestedField && item[nestedField]">
              <ng-container *ngTemplateOutlet="nestedTemplate; context:{items: item[nestedField],container: container}"></ng-container>
            </ng-template>  
          </div>
        </div>
</ng-template>