<!-- <p>bank-receipt works!</p> -->

<div class="m-3">

  <div fxLayout="row" class="md_flex" fxLayoutAlign.sm="start center" fxLayoutAlign.xs="center center" fxLayout.xs="column" fxLayoutWrap
    fxLayoutGap="10px">
    <div fxFlex="50">
      <h4 class="pharmacyHeading">Bank Receipt (BR) List</h4>
    </div>
    <div fxFlex="50" fxLayoutGap="10px" class="">
      <div class="">
        <button type="button" class="finance-button" mat-raised-button color="primary" routerLink="../bankreceiptRegister"  title="Bank Receipt Register">Bank Receipt
        Register</button>&nbsp;
      <!-- <button type="button"  class="finance-button"  mat-raised-button color="primary" routerLink="../areaWiseCollections"  title="Areawise Collection">Areawise
        Collection</button>&nbsp; -->
      <button type="button"  class="finance-button" mat-raised-button color="primary" (click)="clickBank()" title="Add Bank Receipt Voucher Entry">Add Bank Receipt </button>
      <button type="button" class="finance-button ml-1" mat-raised-button color="primary" [routerLink]="['../FinanceTransaction']" >Back </button></div>
    </div>
  </div>

  <div class="mt-2">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px">
      <div fxFlex="100">

        <div class="master-table mat-elevation-z4" id="table-scroll">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="shName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
              <td mat-cell *matCellDef="let element"> {{element.finTranHeadDate}}</td>
            </ng-container>

            <ng-container matColumnDef="ProductName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Vocuher No.</th>
              <td mat-cell *matCellDef="let element"> {{element.finTranVno}}</td>
            </ng-container>
            <ng-container matColumnDef="ProductPack">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Contra Name</th>
              <td mat-cell *matCellDef="let element"> {{element.finTranContraId}}</td>
            </ng-container>

            <ng-container matColumnDef="Actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
              <td mat-cell *matCellDef="let element"> <i title="Edit" class="fas fa-pencil-alt"
                  (click)="getByEdit(element)"></i> | <i title="Delete" class="far fa-trash-alt"
                  (click)="deleteItem(element)"></i> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


          </table>
        </div>
        <mat-paginator class="mat-paginator-sticky custom_paginator" [pageSizeOptions]="[10, 20, 30, 40, 50]"></mat-paginator>
      </div>

    </div>

  </div>



</div>