::ng-deep .mat-tabs, .mat-tab-label {

    .mat-tab-link {
      background: #dee1e3 !important;
      color: #006476;
      border-radius: 12% 12% 0% 0%;
      margin: 0px 5px;
      min-width: 117px !important;
      opacity: 1 !important;
      padding: 0 5px !important;
      height: 40px;
    }
  }
