$alert-icon-width:35px;

.alert {
    margin:10px 1px 10px 10px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    .alert-icon {
        color:white;
        display: flex;
        flex-direction: column;
        min-width: $alert-icon-width;
        justify-content: center;
        align-items: center;
        min-height: 100%;
    }
    .alert-content {
        padding: 5px 0px 5px 10px;
        width:100%;
        word-break: break-all;
        display:flex;
        flex-direction:column;
        .alert-type {
            font-weight:500;
        }
        .alert-message,.alert-template {
            //color: #6d6f70;
            font-size: 14px;
            padding-left:5px;
            ul {
                margin-bottom: 0px;
            }
        }
        .alert-template {
            padding-left:5px;
        }
    }
    .alert-close {
        padding-top:3px;
        mat-icon {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
        }
    }
}

.info {
    background: linear-gradient(to right, #3992ff 0px, #3992ff $alert-icon-width, #f7fbff $alert-icon-width, #f7fbff 100%);
    border: 1px solid #3992ff;
    .alert-content {
        .alert-type {
            color:#3992ff;
        }
    }
    .alert-close {
        mat-icon {
            color:#3992ff;
        }       
    }
    .alert-message,.alert-template {
        color: #3992ff;
    }
}

.success {
    background: linear-gradient(to right, #41ae43 0px, #41ae43 $alert-icon-width, #e6f5e6  $alert-icon-width, #e6f5e6 100%);
    border: 1px solid #41ae43;
    .alert-content {
        .alert-type {
            color:#41ae43;
        }
    }
    .alert-close {
        mat-icon {
            color:#41ae43;
        }       
    }
    .alert-message,.alert-template {
        color: #41ae43;
    }
}


.warning {
    background: linear-gradient(to right, #feac01 0px, #feac01 $alert-icon-width, #fffdf5 $alert-icon-width, #fffdf5 100%);
    border: 1px solid #feac01;
    .alert-content {
        .alert-type {
            color:#feac01;
        }
    }
    .alert-close {
        mat-icon {
            color:#feac01;
        }       
    }
    .alert-message,.alert-template {
        color: #feac01;
    }
}

.error {
    background: linear-gradient(to right, #d43435 0px, #d43435 $alert-icon-width, #fdf4f5 $alert-icon-width, #fdf4f5 100%);
    border: 1px solid #d43435;
    .alert-content {
        .alert-type {
            color:#d43435;
        }
    }
    .alert-close {
        mat-icon {
            color:#d43435;
        }       
    }
    .alert-message,.alert-template {
        color: #d43435;
    }
}

.timer-alert {
    position: absolute;
    z-index: 1001;
    min-width: 500px;
}
