.autocomplete-heading {
    background-color: #2f8bbd;
    padding-left: 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    color: #fff;
    padding: 0px 15px;
  }
  
  
  .border-Pincode {
    border-left: 1px solid #dee2e6 !important;
    padding-left: 6px;
  }


  .buttons {
    width: 960px;
    margin: 0 auto;}
    
        .action_btn {
    width: 500px;
    margin: 0 auto;}



    .finance-button {
      border-radius: 30px;
  }