<div class="m-5 button-icons">

    <div class="row mx-0 mt-3" style="column-gap: 20px;">

        <button class="btn btn-info p-4 col-md-2 mb-2" *ngFor="let item of menuArray" (click)="finance(item?.menuPath)">

            <div *ngIf="item.menuName !== '' ">
                <div *ngIf="item?.menuName == 'Cash Receipts' || item?.menuName == 'Cash Payments' ">
                    <i class="mt-1 fa fa-money-bill" style="margin-right: 4px;"></i>
                <i class="fas fa-rupee-sign" style="font-size: 13px;"></i>
                </div>

                <div *ngIf="item?.menuName == 'Bank Receipts' ">
                    <div><i class="fas fa-arrow-down"></i></div>
                  <i class="mt-1 fa fa-landmark"></i>
                </div>

                <div *ngIf="item?.menuName == 'Bank Payments' ">
                    <div><i class="fas fa-arrow-up"></i></div>
              <i class="mt-1 fa fa-landmark"></i>
                </div>

                <div *ngIf="item?.menuName == 'Journal Vouchers' ">
                    <div><i class="mt-1 fa fa-receipt" style="margin-right: 4px;"></i></div>
                </div>

                <div class="text-center" style="white-space: normal">{{item?.menuName}} </div>
            </div>
        </button>


        <!-- <button class="btn btn-info p-4 col-md-2 mb-2">
        <div>
            <div><i class="fas fa-arrow-down"></i></div>
            <i class="mt-1 fa fa-cart-plus"></i>
        </div>
        <div class="text-center" style="white-space: normal">Purchase <br> Register</div>
    </button>


    <button class="btn btn-info p-4 col-md-2 mb-2">
        <div>
            <div><i class="fas fa-arrow-up"></i></div>
            <i class="mt-1 fa fa-cart-plus"></i>
        </div>
        <div class="text-center" style="white-space: normal"> Purchase Return <br> Register</div>
    </button>


    <button class="btn btn-info p-4 col-md-2 mb-2">
        <div><i class="mt-1 fa fa-cogs"></i></div>
        <div class="text-center" style="white-space: normal">Internal Stock <br> Adjustment Register</div>
    </button>


    <button class="btn btn-info p-4 col-md-2 mb-2">
        <div><i class="mt-1 fa fa-plus-circle"></i></div>
        <div class="text-center" style="white-space: normal">Other Purchases <br> Register</div>
    </button> -->

    </div>

</div>