

  <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
    <div fxFlex="30">
      <form [formGroup]="setpassword" class="mt-5">
        <mat-card class="user-form mt-5 pb-3">
          <app-alert [id]="changPasswordAlertId"></app-alert>
            <mat-form-field appearance="outline">
              <mat-label> Current Password: </mat-label>
              <input matInput formControlName="oldPassword" required>
              <mat-error *ngIf="!setpassword.controls['oldPassword'].valid && setpassword.controls['oldPassword'].touched">
                Current Required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> New Password: </mat-label>
                <input matInput  formControlName="newPassword" required>
                <mat-error >
                <span *ngIf="!setpassword.controls['newPassword'].valid && setpassword.controls['newPassword'].touched">
                  Password Required</span>
                  <span *ngIf="setpassword.controls['newPassword'].value !== setpassword.controls['confirm'].value &&
                  setpassword.controls['confirm'].touched">
                    Password notMatch</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label> Re-enter Password: </mat-label>
                <input matInput   formControlName="confirm" required>
                <mat-error *ngIf="setpassword.hasError('notSame')">
                  Passwords do not match
              </mat-error> 
              </mat-form-field>

              <div class="text-center pt-3">
                <button mat-raised-button color="primary" (click)="confirmpassword(setpassword.value)"> Save </button>
              </div>
             
          </mat-card>
          </form>

    </div>
   
    </div>