<div class="m-5 button-icons">

    <div class="row mx-0 mt-3" style="column-gap: 20px;">

        <button class="btn btn-info p-4 col-md-2 mb-2" *ngFor="let item of menuArray" (click)="trans(item?.menuPath)">

            <div *ngIf="item.menuName !== '' ">
                <div *ngIf="item?.menuName == 'Sales Orders' "><i class="mt-1 fa fa-shopping-cart"></i></div>

                <div *ngIf="item?.menuName == 'Sales Delivery Challans' || item?.menuName == 'Sales Invoices' ">
                    <div><i class="fas fa-arrow-up"></i></div>
                    <i class="mt-1 fa fa-cart-plus"></i>
                </div>

                <!-- <div *ngIf="item?.menuName == 'Sales Invoices' ">
                    <div><i class="mt-1 fa fa-money-bill"></i></div>
                </div> -->

                <div *ngIf="item?.menuName == 'Sales Returns' ">
                    <div><i class="fas fa-arrow-down"></i></div>
                <i class="mt-1 fa fa-cart-plus"></i>
                </div>

                <div *ngIf="item?.menuName == 'Internal Stock Adjustments Minus' ">
                    <div><i class="mt-1 fa fa-cogs"></i></div>
                </div>

                <div *ngIf="item?.menuName == 'Other Sales' ">
                    <div><i class="mt-1 fa fa-plus-circle"></i></div>
                </div>

                <div *ngIf="item?.menuName == 'General Credit Notes Issue To Customers' || item?.menuName == 'Rate Difference Credit Notes To Customers' "
                    class="d-flex justify-content-center">
                    <span class="d-block font-weight-bold" style="margin: 2px 5px 0 -1px;">-</span>
                    <i class="mt-1 fa fa-rupee-sign"></i>
                </div>

                <div *ngIf="item?.menuName == 'General Debit Notes Issue To Customers' || item?.menuName == 'Rate Difference Debit Notes To Customers' "
                    class="d-flex justify-content-center">
                    <span class="d-block font-weight-bold" style="margin: 2px 5px 0 -1px;">+</span>
                    <i class="mt-1 fa fa-rupee-sign"></i>
                </div>

                <div *ngIf="item?.menuName == 'Quotations' ">
                    <div class="d-flex justify-content-center">
                        <i class="mt-1 fa fa-file"></i>
                    </div>
                </div>

                <div *ngIf="item?.menuName == 'Retail Sales' ">
                    <div class="d-flex justify-content-center">
                        <i class="mt-1 fa fa-store"></i>
                    </div>
                </div>

                <div class="text-center" style="white-space: normal">{{item?.menuName}} </div>
            </div>
        </button>


        <!-- <button class="btn btn-info p-4 col-md-2 mb-2">
        <div>
            <div><i class="fas fa-arrow-down"></i></div>
            <i class="mt-1 fa fa-cart-plus"></i>
        </div>
        <div class="text-center" style="white-space: normal">Purchase <br> Register</div>
    </button>


    <button class="btn btn-info p-4 col-md-2 mb-2">
        <div>
            <div><i class="fas fa-arrow-up"></i></div>
            <i class="mt-1 fa fa-cart-plus"></i>
        </div>
        <div class="text-center" style="white-space: normal"> Purchase Return <br> Register</div>
    </button>


    <button class="btn btn-info p-4 col-md-2 mb-2">
        <div><i class="mt-1 fa fa-cogs"></i></div>
        <div class="text-center" style="white-space: normal">Internal Stock <br> Adjustment Register</div>
    </button>


    <button class="btn btn-info p-4 col-md-2 mb-2">
        <div><i class="mt-1 fa fa-plus-circle"></i></div>
        <div class="text-center" style="white-space: normal">Other Purchases <br> Register</div>
    </button> -->

    </div>

</div>