<app-loader>Please wait...</app-loader>
<simple-notifications></simple-notifications>
<app-firm-registrtion></app-firm-registrtion>
<div class="app">
    <app-header [authDetails]="authDetails" [firmName]="firmName" [menu]="headerMenu">
            <ng-container *ngTemplateOutlet="menuButtonTemplate" menuContent></ng-container>
    </app-header>

   
    <div class="content" [ngClass]="{'login':!authDetails}">
        <div *ngIf="authDetails" class="side-nav-content" [ngClass]="hideMenu ? 'hideMenu' : 'showMenu'">
            <div class="menu-content app-scroll">
                <app-side-nav [basePath]="basePath" [authDetails]="authDetails" [maxLevel]="2" [hideMenu]="hideMenu" (expand)="expandMenu($event)"></app-side-nav>
            </div>
        </div>
        <div class="sub-content app-scroll">
            <div class="app-alert">
                <app-alert [id]="'appAlertId'"></app-alert>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
    <footer *ngIf="!authDetails">
        <span>2021 All Rights Reserved</span>
    </footer>

</div>


<ng-template #menuButtonTemplate>
    <div class="pointer-view menu-button" (click)="hideMenu=!hideMenu" matTooltip="Menu">
        <mat-icon>dehaze</mat-icon>
    </div>
</ng-template>