<div class="m-3">
  <div fxLayout="row" fxLayoutAlign.sm="start center" fxLayoutAlign.xs="center center" fxLayout.xs="column" fxLayoutWrap
    fxLayoutGap="10px">
    <div fxFlex="38" fxFlex.xl="55" fxFlex.sm="57" fxFlex.md="46">
      <h4 class="masters-pharma-head">Area </h4>
    </div>
    <div fxFlex="20" fxFlex.xl="12" fxFlex.sm="12" fxFlex.md="20" fxLayoutAlign="end end" class="master-btn">
      <button mat-raised-button color="primary" type="button" *ngIf="!addOrEditFlag" (click)="addOrEdit()">Add
        Area</button>&nbsp;
      <button mat-icon-button (click)="clearAddOrEdit()" *ngIf="addOrEditFlag" matTooltip="Close" type="button">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-raised-button type="button" (click)="refresh()"
        *ngIf="!isDataLoading && !addOrEditFlag">Refresh</button>
    </div>
    <div fxFlex="23">
    </div>
  </div>

  <div class="mt-2">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px">
      <div fxFlex="60" class="area-form">
        <form [formGroup]="formGroup" *ngIf="formGroup && addOrEditFlag" autocomplete="off" fxLayoutGap="10px">
          <mat-form-field appearance="outline">
            <mat-label>Area Name</mat-label>
            <input matInput formControlName="areaName" required>
            <mat-error>
              areaName Required
            </mat-error>
          </mat-form-field>
          <!-- <mat-form-field appearance="outline">
            <mat-label>Area CustCount</mat-label>
            <input matInput formControlName="areaCustCount">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Area Opening</mat-label>
            <input matInput formControlName="areaOpening">
          </mat-form-field> -->
          <mat-form-field appearance="outline">
            <mat-label>Sales Man</mat-label>
            <mat-select formControlName="firmUserId" required appMatSelect >
              <mat-option  *ngFor="let data of firmuserdata" [value]="data.firmUserId" >{{data.firmUserName}}</mat-option>
            </mat-select>
            <mat-error>Sales Man Required!</mat-error>
          </mat-form-field>
          <div class="float-right">
            <button mat-raised-button color="primary" [disabled]="formGroup.invalid"
              (click)="save()">{{isUpdate()?'Update':'Add'}}</button> &nbsp;
            <button mat-raised-button (click)="clearAddOrEdit()">Reset</button>
          </div>
        </form>
        <div class="master-table" id="table-scroll">
          <app-alert [id]="'CompanygroupTableId'"></app-alert>
          <app-table [definition]="tableDefinition" [data]="dataList" [tableAlertId]="'CompanygroupTableId'">
          </app-table>
        </div>
      </div>
      <div fxFlex="40">
        <div class="master-img">
          <img src="assets/images/schedule.jpg" alt="" class="mx-auto d-block img-fluid img-thumbnail">
        </div>
      </div>
    </div>
  </div>

</div>
