<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0px">

  <div fxFlex="15">
    <div class="profile-list">
      <mat-list role="list">
        <mat-list-item role="listitem" >
          <mat-icon>edit</mat-icon> &nbsp; Profile
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem" (click)="navigateToChangePassword()">
          <mat-icon>lock</mat-icon> &nbsp; Change Passwword
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem" class="active" [routerLink]="['preference']">
          <mat-icon>view_list</mat-icon> &nbsp; Preferences
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem" [routerLink]="['firmRegistration']">
          <mat-icon>view_list</mat-icon> &nbsp; Firm Registration
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      
    </div>

  </div>
  <div fxFlex="85">
    <router-outlet></router-outlet>
  </div>

</div>
