

@import '../../../../../assets/styles/mixin.scss';

::ng-deep .fieldCntrl {
  mat-form-field{
    width: 260px;
    margin-top: 7px;
  }
  @include user-form;
}

.autocomplete-heading {
  background-color: #006476;
  padding-left: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  color: #fff;
  padding: 0px 15px;
  border-right: #f5f5f5 solid 1px;
}

.master-option-text {
  height: 28px !important;
  font-size: 14px !important;
  padding:3px 0px 0px 6px;
   border-bottom: #e9e6e6  solid 1px;
}


.mar-form-field {
  width: 300px;
  }

  .text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .auto-border {
    border-right: #b0b2b3 solid 1px;
    margin-right: 5px;

  }
  .mat_hover:hover{
    background-color:rgb(112, 112, 248);
    }