<div class="modal-dialog modal-confirm" style="width: 350px;">
  <div class="modal-content">
    <div class="modal-header text-center py-1" style="background-color: #006476;">
      <button type="button" (click)="closeDialog()" class="close" data-dismiss="modal"
        aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
      <p> {{modalTitle}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" *ngIf="!btnyes" (click)="closeDialog()" class="btn btn-info" data-dismiss="modal" cdkFocusInitial >Cancel</button>
      <button type="button" [ngStyle]="{background: hintColor}" [mat-dialog-close]="true" 
        class="btn btn-danger">{{buttontext}}</button>
        <button type="button" *ngIf="btnyes === 'No'" (click)="closeDialog()" class="btn btn-info" data-dismiss="modal" cdkFocusInitial >{{btnyes}}</button>
    </div>
  </div>
</div>
