/* .delete-dialog h4{
      font-size: 15px;
} */
.delete-heading {
  font-size: 18px;
  background-color: #2f8bbd;
  color: #fff;
  padding: 11px 19px;
  margin: -24px -24px 16px;
}

.delete-btns button {
  text-align: center;
}
.delete-btns {
  margin-top: 12%;
  text-align: center;
  /* padding-right: 13%; */
}
.submit-button {
  background-color: #2f8bbd;
  color: #fff;
}

/****************new css *********/
.modal-confirm {
  color: #636363;
  margin: 0px;
}
.modal-confirm .modal-content {
  padding: 0px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 18px;
}
.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 0px;
}
.modal-confirm .close {
  // position: absolute;
  top: -5px;
  right: -2px;
}
.modal-confirm .modal-body {
  color: #000;
  padding: 2%;
  font-size: 16px;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 3px 10px;
}
.modal-confirm .modal-footer a {
  color: #999;
}
.modal-confirm .icon-box {
  width: 53px;
  height: 53px;
  margin: 0px auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
  color: #f15e5e;
  font-size: 33px;
  margin-top: 7px;
  /* display: inline-block; */
  text-align: center;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 85px;
  border: none;
  min-height: 32px;
  border-radius: 3px;
  margin: 0 5px;
  outline: none !important;
}
.modal-confirm .btn-info {
  background: #c1c1c1;
  border-radius: 50px;
}
.modal-confirm .btn-info:hover,
.modal-confirm .btn-info:focus {
  background: #a8a8a8;
}
.modal-confirm .btn-danger {
  background: #f15e5e;
  border-radius: 50px;
}
.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
  background: #ee3535;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
::ng-deep .mat-dialog-container {
  border-radius: 10px;
  padding: 12px 20px;
}

@media screen and (max-width:600px) {
  .modal-dialog{
    width: 280px !important;
  }
}