// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import '~@angular/material/theming';
//  @import './theme.scss';


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ebusiness-primary: mat-palette($mat-indigo);
$ebusiness-accent: mat-palette($mat-pink, A200, A100, A400);


$app-backgroung-color: #006476;

// The warn palette is optional (defaults to red).
$ebusiness-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ebusiness-theme: mat-light-theme($ebusiness-primary, $ebusiness-accent, $ebusiness-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ebusiness-theme);


$bv-menu: (50: #ffffff,
  100: #dde6f3,
  200: #b4c9e4,
  300: #7fa3d1,
  400: #6992c9,
  500: #0f6496,
  600: #056d93,
  700: #006476,
  800: #305687,
  900: #284770,
  A100: #ffffff,
  A200: #dde6f3,
  A400: #6992c9,
  A700: #104d58,
  contrast: (50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white));

$main-primary: mat-palette($bv-menu, 700);
$main-accent: mat-palette($mat-yellow, 400);
$main-warn: mat-palette($mat-red, 600);
$main-theme: mat-light-theme($main-primary, $main-accent, $main-warn);
@include angular-material-theme($main-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  background-color: #ebedef;
  font-family: 'Open Sans', sans-serif !important;
}



table {
  width: 100%;
}

.mat-card {
  font-family: 'Open Sans', sans-serif !important;
}
a:hover{
  text-decoration: none !important;
}
.mat-header-cell {
  font-size: 14px;
  font-weight: 500;
  background-color: #006476;
  color: #fff;
  z-index: 1 !important;
  font-family: 'Open Sans', sans-serif;
}

.mat-row {
  height: 30px !important;
}

.mat-row:hover {
  background-color: aliceblue;
  cursor: pointer;
}

tr.mat-header-row {
  height: 35px !important;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

::ng-deep .mat-expansion-indicator::after {
  color: rgba(251, 247, 247, 0.98);
}

.mat-row:nth-child(even) {
  background-color: #efefef;
}

.mat-row:nth-child(odd) {
  background-color: #fff;
}

#table-scroll::-webkit-scrollbar-track, .app-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
}

#table-scroll::-webkit-scrollbar, .app-scroll::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

#table-scroll::-webkit-scrollbar-thumb, .app-scroll::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #ccccce;
  border-radius: 10px;
}



/********mat-form********/

mat-form-field{
 font-size: 14px !important;
}

.user-form .mat-form-field {
  font-size: 14px;
  height: 48px;
  // width: 100%;
}


/********mat-form********/


.simple-notification-wrapper.right {
  right:2px !important;
}
  
.simple-notification-wrapper.top {
  top:55px !important;
}
  
.simple-notification {
  border:white solid 2px !important;
  border-radius:5px;
  .sn-content {
    font-size:14px!important;
    font-family: "Open Sans", sans-serif !important;
  }
}

mat-dialog-container {
  padding:0px !important;
}

.dialog-sm, .dialog-sm>.mat-dialog-container {
  width: 35vw !important;
  height:35vh !important;
  .modal-body {
    height:15vh !important;
    overflow: auto;
  }
}

.dialog-md, .dialog-md>.mat-dialog-container {
  width: 60vw !important;
  height:auto !important;
  .modal-body {
    height:auto !important;
    overflow: auto;
  }
}

.dialog-lg, .dialog-lg>.mat-dialog-container {
  width: 80vw !important;
  height:80vh !important;
  .modal-body {
    height:60vh !important;
    overflow: auto;
  }
}

.dialog-xl, .dialog-xl>.mat-dialog-container{
  width: 90vw !important;
  height:90vh !important;
  .modal-body {
    height:65vh !important;
    overflow: auto;
  }
}

@media screen and (max-width:1400px) {
  .dialog-md, .dialog-md>.mat-dialog-container {
    width: 94vw !important;
    max-width: 94vw !important;
    height:auto !important;
  }

  // .dialog-md .modal-body, .dialog-md > .mat-dialog-container .modal-body{
  //   height: 380px !important;
  // }

}

 .e_mat_date .mat-form-field-suffix{
  top: 0.45em !important;
  left: 6px;
}

.e_mat_date .mat-icon-button .mat-datepicker-toggle-default-icon{
  margin: 0 !important;
}

.e_mat_date .mat-form-field-suffix .mat-icon-button{
  width: auto !important;
  height: 2.2em !important;
  outline: none;
}

.e_mat_date .mat-form-field-label-wrapper {
  top: -1.6em !important;
}

// .mat-form-field-flex > .mat-form-field-infix{
//   padding: 0.4em 0px !important;
// }

// .mat-form-field-label-wrapper{
//   top: -1.5em !important;
// }

.mat_btn {
  top: -4px;
}

::ng-deep .mat-form-field-flex>.mat-form-field-infix {
  padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .mat-form-field-subscript-wrapper {
  font-size: 75%;
  margin-top: 2em;
  top: calc(100% - 1.79167em);
}


.w_116{
  width: 116px !important;
  margin: 0.5rem 0;
}

.w_224{
  width: 224px;
  margin: 0.5rem 0;
}

.mat_date .mat-form-field-underline{
  bottom: 0.04375em !important;
}

.mat_date .mat-form-field-flex > .mat-form-field-infix {
  padding: 0em 0 0.3em 0 !important;
}

.mat_date .mat-form-field-flex {
  padding: 0.25em 0.05em 0px 0.65em !important;
}

  
@media screen and (max-width:600px) {
  .master-img{
    margin-bottom: 50px !important;
  }
}


@media screen and (min-width:960px) and (max-width:1280px) {
  .md_flex{
    display: flex;
  }
}

.custom_paginator mat-form-field{
  width: 56px !important;
}

.button-icons{
  /* Container to align the buttons */
.button-container {
  display: flex;
  // justify-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 15px;
}

/* Styling for buttons */
.btn {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding: 8px 20px 10px 8px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s;
  // height: 145px;
  // width: 208px;
  // font-size: 16px;

  i{
      font-size: 28px;
  }
  
}
.head{
  color: #305687;
  padding: 24px;
  // margin-left: 371px;
  text-align: center;
  // background-color: 
}

/* Icon styling */
.btn i {
  margin-right: 8px;
}

/* Button colors */
.btn-success {
  background-color: #28a745;
  color: white;
}

/* Hover effect */
.btn:hover {
  background-color: white;
  color: green;
  border: 1px solid;
}

}

.pointer {
  cursor: pointer;
}